@media screen and (min-width: 1201px) {
	.software {
		width: 450px; height: 590px; background:url(software.png) 0px 0px;
	}
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
	.software {
		width: 410px; height: 590px; background:url(software.png) -450px 0px;
	}
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
	.software {
		width: 344px; height: 590px; background:url(software.png) -860px 0px;
	}
}

@media screen and (min-width: 601px) and (max-width: 800px) {
	.software {
		width: 710px; height: 621px; background:url(software.png) 0px -590px;
	}
}

@media screen and (max-width: 600px) {
	.software {
		width: 494px; height: 621px; background:url(software.png) -710px -590px;
	}
}